//開頭頁面
.container
    & .title
        font-size: 50px
    & .subtitle
        font-size: 20px
    & .number, .symbol
        font-size: 230px
        // font-family: SourceSerifVariable
        font-family: Times New Roman
        -webkit-text-stroke: 1.1px #333
        color: #fefbd2
        letter-spacing: 12px
    & .unit, .depiction
        font-size: 20px
    & .unit
        border-radius: 100px
        background-color: #efefef
        color: #231815
    & .depiction
        letter-spacing: 1.4px
        line-height: 30px
    & .button
        border-radius: 100px
        background-color: #fefbd2
        border: solid 2px #534741
        color: #231815
        cursor: pointer
        font-size: 18px
    
.logo
    max-width: 70px

