//開頭頁面
.container
    & .title
        font-size: 50px
    & .subtitle
        font-size: 20px
    & .number, .symbol
        font-size: 230px
        // font-family: SourceSerifVariable
        font-family: Times New Roman
        -webkit-text-stroke: 1.1px #333
        color: #fefbd2
        letter-spacing: 12px
    & .unit
        font-size: 20px
        border-radius: 100px
        background-color: #efefef
        color: #231815
    & .depiction
        letter-spacing: 1.4px
        line-height: 30px
        font-size: 20px
    & .button
        border-radius: 100px
        background-color: #fefbd2
        border: solid 2px #534741
        color: #231815
        cursor: pointer
        font-size: 20px
.logo
    max-width: 70px


//題目
.sidebar   
    // +border()
    +size(100px, 600px)
#question
    // +border()
    +size(600px, auto)
.title
    font-size: 26px
input[type=radio]
    display: none
    + label
        display: block
        +size(auto, auto)
        border:　solid 3px purple
        font-size: 22px 
        &:hover

            cursor: pointer
    &:checked + label
        display: block
        +size(auto, auto)
        background-color: #fefbd2
        border-radius: 50px
        color: #505256

//結果頁面
.resultcontainer
    border-radius: 30px
    +border(solid, 3.5px ,#ccc)
.BreakOff, .Heartbeat, .simpleLife
    & .title
        color: #000000
        background-color: #efefef //正版
        border-radius: 20px
        text-align: center
.Heartbeat
    +border(dotted, 1px ,#aaa)

