@mixin size($w,$h)
    width: $w
    height: $h
    
@mixin flexdisplay($display: flex ,$justify-content: center, $align-items: center)
    display: $display
    justify-content: $justify-content
    align-items: $align-items

@mixin border($border-style: solid , $border-width: 2px , $border-color: #f24)
    border-style: $border-style
    border-width: $border-width
    border-color: $border-color