#app
    font-size: 1em
    +size(100%, auto)


//問卷開頭
.container 
    display: flex
    flex-direction: column
    +size(55%, auto)
    margin: 0 auto
    margin-top: 80px
    border-radius: 5px
    text-align: center
    & .top
        & .subtitle
            margin-top: 15px
        & .logocontain
            +flexdisplay(flex, center, center)
    & .bottom
        display: flex
        // margin-top: -40px
        & .unit, & .button
            +size(200px, auto)
            padding-top: 5px
            padding-bottom: 5px
        & .operation
            display: flex
            & .unit
                margin: 0 auto
        & .state
            margin-left: 4%
            +size(100%, auto)
            & .button
                // margin: 0 auto
            & .depiction 
                +flexdisplay(flex, flex-start, center)
                text-align: left
                // margin-left: 4%
                +size(100%, 270px)


//題目頁面
.sidebar 
    position: absolute
    +border()
.groupQuestion
    +border()
    +size(40%, auto)
    // display: relative
    left: 30%
    // margin-top: 5%
    & .title 
        margin-bottom: 20px
    & .option
        margin-bottom: -10px

@for $i from 1 through 5
    #ques#{$i*3-3} 
        margin-top: 6%

// #ques0, #ques3, #ques6, #ques9, #ques12
//     margin-top: 15%


    
//結果頁面
#results
    +flexdisplay()
    margin: 0 auto
    margin-top: 100px
    +size(60%, 600px)
    +border()
    &:hover .openPeople
        opacity: 0

#result0, #result1, #result2 
    +border(solid, 1px, purple)
    padding: 10px
    cursor: pointer
    +size(100% / 3 , 100%)
    flex: 1 1
    transition-duration: 1.5s
    &:hover
        flex: 15
        transition-duration: 2.5s
        transition-timing-function: ease
    & .title
        position: absolute
        +size(40px, 100% - 5%)
        padding-top: 20px

    //人物
    & .closePeople, & .openPeople
        position: absolute
        right: 0px
        bottom: 0px
        +size(250px, auto)
    & .closePeople
        opacity: 1    
    & .openPeople
        opacity: 0
        // transition-delay: 0.4s
    &:hover .openPeople
        // transition-duration: 0.8s
        // transition-delay: 0.3s
        opacity: 1


    //簡介
    & .depiction
        // position: relative
        position: absolute
        +size(750px, auto)
        top: 220px
        left: 80px
        +border()
        opacity: 0
        transition-delay: -0.3s
        // transition-timing-function: ease-in
        // display: none
    &:hover .depiction
        top: 150px
        opacity: 1
        transition-duration: 1s
        transition-delay: 0.6s
        display: inline-block
        // transition-timing-function: ease-out

    //星星
    & .stars
        position: absolute
        left: 50px
        display: flex
        flex-wrap: wrap
        +size(230px, auto)
        +border()
        & .star
            +size(15%, auto)
            +border(dotted, 0.5px, black)
            margin-left: 5%
            margin-top: 5%
            & img
                +size(100%, auto)
    & .closeStar
        opacity: 1
    & .openStar
        opacity: 0
    &:hover .openStar
        opacity: 1

#results
    &:hover .closeStar
        opacity: 0
    &:hover .closePeople
        opacity: 0



//media require
@media screen and (max-width: 1500px)
    .container 
        +size(60%, auto)
    #results
        +size(65%, 600px)

@media screen and (max-width: 1366px)
    .container 
        +size(70%, auto)
    #results
        +size(75%, 600px)

@media screen and (max-width: 1024px)
    .container 
        +size(90%, auto)
    #results
        +size(95%, 600px)
