#app
    font-size: 1em
    +size(100%, auto)

.container 
    display: flex
    flex-direction: column
    +size(50%, auto)
    margin: 0 auto
    margin-top: 80px
    border-radius: 5px
    text-align: center
    & .top
        & .subtitle
            margin-top: 15px
        & .logocontain
            +flexdisplay(flex, center, center)
    & .middle
        display: flex
        margin-top: -40px
        & .depiction 
            +flexdisplay(flex, center, center)
            text-align: left
            margin-left: 4%
    & .bottom
        display: flex
        margin-top: -30px
        & .unit, & .button
            +size(200px, auto)
            padding-top: 5px
            padding-bottom: 5px 
        & .subject
            margin-left: 5%
        & .minute
            margin-left: 15%
        & .button
            margin-left: 16%



@media screen and (max-width: 1500px)
    .container 
        +size(60%, auto)

@media screen and (max-width: 1366px)
    .container 
        +size(70%, auto)

@media screen and (max-width: 1024px)
    .container 
        +size(90%, auto)
