html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="style.css")
        title question
    body
        .header
            a.title.home(href="index.html") Home
            a.title.method(href="docs/html/method.html") Method
            a.title.information(href="docs/html/information.html") Information
        #app
            template#intro(v-if='pageNow == 0')
                .container 
                    .top
                        .logocontain
                            img.logo(src="logo.png", alt="")
                        .title 「你適合哪一種減物法則」
                        .subtitle 測驗告訴你 你適合三大法則哪一項
                    .bottom
                        .operation
                            .subject
                                .number 15
                                .unit 道單選題
                            .symbol +
                            .minute
                                .number 5
                                .unit 分鐘以內
                            .symbol =
                        .state
                            .depiction 
                                | 這是心理測驗，
                                br 
                                | 不是學術量化報告，
                                br
                                | 僅供參考與娛樂性質，
                                br
                                | 希望你會喜歡。
                            .button(@click='start') START
                        
            template.questions(v-if='pageNow == 1')
                .sidebar test
                template(v-for='(item, index) in questions')
                    template(v-if='showItem(index)')
                        #question        
                            .title {{ index + 1 }}.{{ item.quest }}
                            template.number(v-for='(val, v) in item.options')
                                input(:id="fromId(index,v)" type='radio', v-bind:value='val.type', v-model='item.selected')
                                label.option(:for="fromId(index,v)") &emsp;&emsp; ◎ . {{ val.q }}
                                br
                button(@click='last', v-if='this.now > 0') 上一頁
                button(@click='next', v-if='this.now < this.questions.length - 1') 下一頁
                button(@click='settlement', v-if='this.now == this.questions.length - 3') 看結果

            template#result(v-if='pageNow == 2')
                #results
                    .resultContainer(:id="resultId(index)" v-for='(result, index) in resultinfos')
                        .title {{ result.title }} 
                        img.openPeople(src="logo.png", alt="")
                        img.people(src="logo.png", alt="")
                        .stars
                            .star(v-for='item in showStar(index)') 
                                img(src="logo.png", alt="")
                        .depiction
                            .state(v-html='result.state')
                            .step  this is step
                    //- .resultDepiction(:id="resultDepId(index)" v-for='(result, index) in resultinfos')
                    //-     .depiction
                    //-         .state(v-html='result.state')
                    //-         .step  this is step
                            

                //- svg#pic1(viewbox="0 0 100 100")
                //-     rect.showrect(x=0 y=0 width=100 :height= '10*steps[0].value')
                //- svg#pic2(viewbox="0 0 100 100")
                //-     rect.showrect(x=0 y=0 width=100 :height= '10*steps[1].value')
                //- svg#pic3(viewbox="0 0 100 100")
                //-     rect.showrect(x=00 y=0 width=100 :height= '10*steps[2].value')


    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js")
    script(src="script.js")



