
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="style.css"/>
    <title>question</title>
  </head>
  <body>
    <div class="header"><a class="title home" href="index.html">Home</a><a class="title method" href="docs/html/method.html">Method</a><a class="title information" href="docs/html/information.html">Information</a></div>
    <div id="app">
      <template id="intro" v-if="pageNow == 0">
        <div class="container"> 
          <div class="top">
            <div class="logocontain"><img class="logo" src="logo.png" alt=""/></div>
            <div class="title">「你適合哪一種減物法則」</div>
            <div class="subtitle">測驗告訴你 你適合三大法則哪一項</div>
          </div>
          <div class="bottom">
            <div class="operation">
              <div class="subject">
                <div class="number">15</div>
                <div class="unit">道單選題</div>
              </div>
              <div class="symbol">+</div>
              <div class="minute">
                <div class="number">5</div>
                <div class="unit">分鐘以內</div>
              </div>
              <div class="symbol">=</div>
            </div>
            <div class="state">
              <div class="depiction">
                 這是心理測驗，<br/>不是學術量化報告，<br/>僅供參考與娛樂性質，<br/>希望你會喜歡。</div>
              <div class="button" @click="start">START</div>
            </div>
          </div>
        </div>
      </template>
      <template class="questions" v-if="pageNow == 1">
        <div class="sidebar">test</div>
        <template v-for="(item, index) in questions">
          <template v-if="showItem(index)">
            <div id="question">       
              <div class="title">{{ index + 1 }}.{{ item.quest }}</div>
              <template class="number" v-for="(val, v) in item.options">
                <input :id="fromId(index,v)" type="radio" v-bind:value="val.type" v-model="item.selected"/>
                <label class="option" :for="fromId(index,v)">&emsp;&emsp; ◎ . {{ val.q }}</label><br/>
              </template>
            </div>
          </template>
        </template>
        <button @click="last" v-if="this.now &gt; 0">上一頁</button>
        <button @click="next" v-if="this.now &lt; this.questions.length - 1">下一頁</button>
        <button @click="settlement" v-if="this.now == this.questions.length - 3">看結果</button>
      </template>
      <template id="result" v-if="pageNow == 2">
        <div id="results">
          <div class="resultContainer" :id="resultId(index)" v-for="(result, index) in resultinfos">
            <div class="title">{{ result.title }} </div><img class="openPeople" src="logo.png" alt=""/><img class="people" src="logo.png" alt=""/>
            <div class="stars">
              <div class="star" v-for="item in showStar(index)"> <img src="logo.png" alt=""/></div>
            </div>
            <div class="depiction">
              <div class="state" v-html="result.state"></div>
              <div class="step"> this is step</div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="script.js"></script>
</html>