
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="style.css"/>
    <title>question</title>
  </head>
  <body>
    <div class="header"><a class="title home" href="index.html">Home</a><a class="title method" href="docs/html/method.html">Method</a><a class="title information" href="docs/html/information.html">Information</a></div>
    <div id="app">
      <template id="intro" v-if="pagenow == 0">
        <div class="container"> 
          <div class="top">
            <div class="logocontain"><img class="logo" src="logo.png" alt=""/></div>
            <div class="title">「你適合哪一種減物法則」</div>
            <div class="subtitle">測驗告訴你 你適合三大法則哪一項</div>
          </div>
          <div class="bottom">
            <div class="operation">
              <div class="subject">
                <div class="number">15</div>
                <div class="unit">道單選題</div>
              </div>
              <div class="symbol">+</div>
              <div class="minute">
                <div class="number">5</div>
                <div class="unit">分鐘以內</div>
              </div>
              <div class="symbol">=</div>
            </div>
            <div class="state">
              <div class="depiction">
                 這是心理測驗，<br/>不是學術量化報告，<br/>僅供參考與娛樂性質，<br/>希望你會喜歡</div>
              <div class="button" @click="start">START</div>
            </div>
          </div>
        </div>
      </template>
      <template id="question" v-if="pagenow == 1">
        <template v-for="(item, index) in questions">
          <template v-if="showitem(index)">
            <h4>{{ index + 1 }}.{{ item.quest }}</h4>
            <template class="number" v-for="(val, v) in item.options">
              <input :id="fromId(index,v)" type="radio" v-bind:value="val.type" v-model="item.selected"/>
              <label :for="fromId(index,v)">{{ v+1. }} . {{ val.q }}</label><br/>
            </template>
          </template>
        </template>
        <button @click="last" v-if="this.now &gt; 0">上一頁</button>
        <button @click="next" v-if="this.now &lt; this.questions.length - 1">下一頁</button>
        <button @click="settlement" v-if="this.now == this.questions.length - 3">看結果</button>
      </template>
      <template id="result" v-if="pagenow == 2">
        <h3>斷捨離 A = {{ result[0].value }}</h3>
        <h3>怦然心動 B = {{ result[1].value }}</h3>
        <h3>簡單生活 C = {{ result[2].value }}</h3>
        <svg id="pic1" viewbox="0 0 100 100">
          <rect class="showrect" x="0" y="0" width="100" :height="10*steps[0].value"></rect>
        </svg>
        <svg id="pic2" viewbox="0 0 100 100">
          <rect class="showrect" x="0" y="0" width="100" :height="10*steps[1].value"></rect>
        </svg>
        <svg id="pic3" viewbox="0 0 100 100">
          <rect class="showrect" x="0" y="0" width="100" :height="10*steps[2].value"></rect>
        </svg>
      </template>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  <script src="script.js"></script>
</html>