@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  font-family: consolas;
  border: solid 1px black; }
  .header .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: black;
    height: 12%;
    margin-right: 4.5%;
    font-size: 32px;
    letter-spacing: 2.6px; }
  .header .home {
    margin-right: 4%; }

#app {
  font-size: 1em;
  width: 100%;
  height: auto; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 55%;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 5px;
  text-align: center; }
  .container .top .subtitle {
    margin-top: 15px; }
  .container .top .logocontain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .container .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container .bottom .unit, .container .bottom .button {
      width: 200px;
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px; }
    .container .bottom .operation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .container .bottom .operation .unit {
        margin: 0 auto; }
    .container .bottom .state {
      margin-left: 4%;
      width: 100%;
      height: auto; }
      .container .bottom .state .depiction {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: left;
        width: 100%;
        height: 270px; }

.questions {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #f24; }

.sidebar {
  position: absolute;
  border-style: solid;
  border-width: 2px;
  border-color: #f24; }

#question {
  border-style: solid;
  border-width: 2px;
  border-color: #f24;
  left: 30%; }
  #question .title {
    margin-bottom: 20px; }
  #question .option {
    margin-bottom: -10px; }

#results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  width: 60%;
  height: 600px;
  border-style: solid;
  border-width: 2px;
  border-color: #f24; }
  #results:hover .openPeople {
    opacity: 0; }

#result0, #result1, #result2 {
  border-style: solid;
  border-width: 1px;
  border-color: purple;
  padding: 10px;
  cursor: pointer;
  width: 33.33333%;
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s; }
  #result0:hover, #result1:hover, #result2:hover {
    -webkit-box-flex: 15;
    -ms-flex: 15;
    flex: 15;
    -webkit-transition-duration: 2.5s;
    -o-transition-duration: 2.5s;
    transition-duration: 2.5s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease; }
  #result0 .title, #result1 .title, #result2 .title {
    position: absolute;
    width: 40px;
    height: 95%;
    padding-top: 20px; }
  #result0 .people, #result0 .openPeople, #result1 .people, #result1 .openPeople, #result2 .people, #result2 .openPeople {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 250px;
    height: auto; }
  #result0 .people, #result1 .people, #result2 .people {
    opacity: 0; }
  #result0 .openPeople, #result1 .openPeople, #result2 .openPeople {
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s; }
  #result0:hover .people, #result1:hover .people, #result2:hover .people {
    -webkit-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    opacity: 1; }
  #result0:hover .openPeople, #result1:hover .openPeople, #result2:hover .openPeople {
    opacity: 1; }
  #result0 .depiction, #result1 .depiction, #result2 .depiction {
    position: absolute;
    width: 750px;
    height: auto;
    top: 220px;
    left: 80px;
    border-style: solid;
    border-width: 2px;
    border-color: #f24;
    opacity: 0;
    -webkit-transition-duration: 0.01s;
    -o-transition-duration: 0.01s;
    transition-duration: 0.01s;
    -webkit-transition-delay: -0.3s;
    -o-transition-delay: -0.3s;
    transition-delay: -0.3s; }
  #result0:hover .depiction, #result1:hover .depiction, #result2:hover .depiction {
    top: 150px;
    opacity: 1;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
    display: inline-block; }
  #result0 .stars, #result1 .stars, #result2 .stars {
    position: absolute;
    left: 14%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #f24; }
    #result0 .stars .star, #result1 .stars .star, #result2 .stars .star {
      width: 15%;
      height: auto;
      border-style: dotted;
      border-width: 0.5px;
      border-color: black;
      margin-left: 5%; }
      #result0 .stars .star img, #result1 .stars .star img, #result2 .stars .star img {
        width: 100%;
        height: auto; }

@media screen and (max-width: 1500px) {
  .container {
    width: 60%;
    height: auto; } }

@media screen and (max-width: 1366px) {
  .container {
    width: 70%;
    height: auto; } }

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
    height: auto; } }

.container .title {
  font-size: 50px; }

.container .subtitle {
  font-size: 20px; }

.container .number, .container .symbol {
  font-size: 230px;
  font-family: Times New Roman;
  -webkit-text-stroke: 1.1px #333;
  color: #fefbd2;
  letter-spacing: 12px; }

.container .unit {
  font-size: 20px;
  border-radius: 100px;
  background-color: #efefef;
  color: #231815; }

.container .depiction {
  letter-spacing: 1.4px;
  line-height: 30px;
  font-size: 20px; }

.container .button {
  border-radius: 100px;
  background-color: #fefbd2;
  border: solid 2px #534741;
  color: #231815;
  cursor: pointer;
  font-size: 20px; }

.logo {
  max-width: 70px; }

.sidebar {
  width: 100px;
  height: 600px; }

#question {
  width: 600px;
  height: auto; }

.title {
  font-size: 26px; }

input[type=radio] {
  display: none; }
  input[type=radio] + label {
    display: block;
    width: auto;
    height: auto;
    font-size: 22px; }
    input[type=radio] + label:hover {
      cursor: pointer; }
  input[type=radio]:checked + label {
    display: block;
    width: auto;
    height: auto;
    background-color: #fefbd2;
    border-radius: 50px;
    color: #505256; }

.resultContainer {
  border-radius: 30px; }
  .resultContainer .title {
    color: #000000;
    background-color: #efefef;
    border-radius: 20px;
    text-align: center; }

* {
  font-family: 'Merriweather', Noto Serif TC, 微軟正黑體;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

body, html {
  margin: 0;
  width: 100%;
  height: 100%; }
