
@import url('https://fonts.googleapis.com/css?family=Merriweather')

@import sass/function
@import sass/base
@import sass/layout
@import sass/conponent

*
    font-family: 'Merriweather', serif
    border: solid 1px black
    box-sizing: border-box
    position: relative

body, html
    margin: 0
    +size(100%,100%)


// svg
//     width: 240px
//     // height: 100px
//     border: solid 2px

// #pic1, #pic2, #pic3
//     & rect
//         fill: blue
//         stroke: yellow

// #pic1, #pic2, #pic3
//     & rect
//         transform: scale(0)
//         transition-duration: 1.5s
//     & .showrect
//         transform: scale(1)
        // transition-duration: 0.8s
    // &:hover
    //     rect
    //         transform: scale(1)

// input[type=checkbox] + label {
//   color: #ccc;
//   font-style: italic;
// }
// input[type=checkbox]:checked + label {
//   color: #f00;
//   font-style: normal;
// }